<!-- templates/dati_esistenti.html -->
<!DOCTYPE html>
<html lang="it">
<head>
    <title>Dati Esistenti</title>
</head>
<body>
<h1>Sei già registrato!</h1>
<p>Ecco i tuoi dati:</p>
<ul>
    <li>Nome: {{ iscritto[1] }}</li>
    <li>Cognome: {{ iscritto[2] }}</li>
    <li>Luogo di nascita: {{ iscritto[3] }}</li>
    <li>Data di nascita: {{ iscritto[4] }}</li>
    <li>Indirizzo: {{ iscritto[5] }}</li>
    <li>CAP: {{ iscritto[6] }}</li>
    <li>Telefono: {{ iscritto[7] }}</li>
    <li>Email: {{ iscritto[8] }}</li>
    <li>Data registrazione: {{ iscritto[9] }}</li>
</ul>
<p>Se desideri aggiornare i tuoi dati, contatta l'organizzazione.</p>
</body>
</html>
